# Données
data/raw/
data/processed/
*.db
*.sqlite
*.csv

# Environnement
.env
.venv/
venv/
env/

# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/

# Modèles téléchargés (trop lourds)
models/

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
